body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#calc-container {
    width: 500px;
    min-width: 160px;
    padding: 15px;
    background-color: #57DEFC;
    border: 4px solid #02717D;
    
    box-shadow: 0px 4px 15px 5px rgba(87, 222, 252, 75%);
    
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

#display {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 120px;
    margin-bottom: 50px;
    background-color: white;
    
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#display > div {
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: center;
    height: auto;

    word-wrap: break-word;
    word-break: break-all;
    padding-right: 10px;
    padding-left: 10px;

}

#prev-line {
    font-size: x-large;
    flex: 1 1 0;
}

#curr-line {
    flex: 2 1 0;
    font-size: 64px;
}

#button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2%;
    margin-bottom: -4%;
}
    
#button-container > button {
    justify-self: center;
}

button{
    text-align: center;
    font-size: min(calc(24px + 1.5vw), 45px);
    width: 100%;
    max-width: 120px;
    min-width: 40px;
    padding-bottom: 7%;
    padding-top: 7%;
    margin: 2px;
    
    cursor: pointer;
    user-select: none;

    box-shadow: 0px 4px 1px 0px rgba(2, 113, 125, 25%);
    border-width: 0px;
    border-radius: 2vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    -ms-border-radius: 2vmin;
    -o-border-radius: 2vmin;
    -webkit-border-radius: 30p;
    
    position: relative;
    top: 0;

    transition: top ease 0.1s;
    -webkit-transition: top ease 0.1s;
    -moz-transition: top ease 0.1s;
    -ms-transition: top ease 0.1s;
    -o-transition: top ease 0.1s;

}

button:hover {
    top: -2px;
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

button:active{
    top:1px;
}

.clear {
    background-color: #57FCC8;
    color: white;
}

.num {
    color: #02717D;
}

.operator {
    background-color: #26CFF4;
    color: #DDFFF2;
}